<%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h1><%= campground.name %></h1>
    <p><%= campground.location %></p>
    <p><%= campground.description %></p>
    <a href="/campgrounds">All campgrounds</a>
  </body>
</html>